<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnAXTQhuzy4ExWHjkelOUimCozrDlxfCs</string>
	<key>GCM_SENDER_ID</key>
	<string>165822949403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>is67443.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>project-2605837374015181060</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2605837374015181060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165822949403:ios:a48a5aa61311014cd6f0be</string>
</dict>
</plist>